
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} 
/* .jordan{
  height: 70%;
  overflow: auto;
  padding: 5px;
  cursor: pointer;
}
.jonny{
  height: 70%;
  overflow: auto;
  padding: 5px;
  cursor: pointer;
} */
.jordan{
  width: 30%
}
.jonny {
  width: 100%;
}

.x {
  position: relative;
  left: 500px;
  cursor: pointer;
}